
.beer-info-label {
	background-color: #EDEDED;
	padding: 4px 6px;
	border-radius: 2px;
}

.white-label {
	background-color: #FFF;
	padding: 4px 6px;
	border-radius: 2px;
	margin: 3px;
}

.blue-label {
	background-color: #387ef5;
	padding: 4px 6px;
	border-radius: 2px;
	margin: 3px;	
}

.small-search-btn {
	padding: 4px 6px;
	border-radius: 2px;
	margin: 3px;
	background-color: #EDEDED;	
}