<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Search for Beer</ion-title>
</ion-navbar>

<ion-content style="background-image: url(http://s23.postimg.org/72n58v98r/background3.jpg);">


  <ion-list padding>

    <!-- begin search box -->
    <ion-header>
      <ion-item>
        <ion-input type="text" value="119 W 24th St, New York, NY 10011" placeholder=""></ion-input>
      </ion-item>
      <button block (click)="searchBeer()">Preferences</button>
      <button block (click)="searchBeer()">Search</button>
    </ion-header>
    <!-- end search box -->

    <ion-item *ngFor="#beer of beerList" (click)="itemTapped($event, beer)">
      <ion-thumbnail item-left>
        <img src="{{beer.image}}">
      </ion-thumbnail>
      <h2>{{beer.name}}</h2>
      <p>
        <span class="beer-info-label">${{beer.price}}</span>
        <span class="beer-info-label" *ngFor="#category of beer.categories">
          {{category}}
        </span>
      </p>
    </ion-item>
  </ion-list>

</ion-content>
