
	.beer-info-label {
		background-color: #EDEDED;
		padding: 4px 6px;
		border-radius: 2px;
	}

	.white-label {
		background-color: #FFF;
		padding: 4px 6px;
		border-radius: 2px;
		margin: 3px;
	}