.getting-started {

  background-image: url(http://s9.postimg.org/usgwjq0qn/background.jpg);

  input {
    margin-top: 0vh;
    height: 7vh;
    width: 40vh;
  }

  input {
    margin: auto;
  }

  div {
    background-color: rgba(88, 86, 88, 0.56);
    border-radius: 20px;
  }

  .spacer {
    height: 25vh;
  }

}
