.getting-started {

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80%;
  height: 246px;
  margin: auto;
  z-index: 2;
  position: relative;
  input {
    margin-top: 0vh;
    height: 7vh;
    width: 40vh;
  }

  input {
    margin: auto;
  }

}
